/** NORMALIZE
------------------------------------------------------------*/
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub{font-size:50%;line-height:1;vertical-align:text-bottom;}
sup{font-size: 50%;line-height:1;vertical-align:text-top;}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}





.add_font( @font_name ){
	@font-face {
		font-family: '@{font_name}';
		src:url('../fonts/@{font_name}/@{font_name}.woff'),
			url('../fonts/@{font_name}/@{font_name}.woff2');
	}	
}

.add_font( 'fontawesome-webfont' );
.add_font( 'MyriadProItalic' );

@black: #000000;
@white: #ffffff;
@pink: #fdd9cc;
@pink_light: #fdf5f5;
@light_gray: #f3f4f6;
@dark_gray: #797b80;
@peach: #ffbea7;
@peach2: #ffac8f;
@gray_f3: #f3f3f3;
@gray_9e: #9e9e9e;
@gray_ec: #ececec;


*{
	box-sizing: border-box;
}


body{
	font-family: 'Open Sans';
	line-height: 1.2;
	overflow-x: hidden;
	&.search_box-visible{
		height: 100vh;
		overflow: hidden;
		.search_box{
			display: block;
		}
	}
}

@import 'vendor/font-awesome.min.css';
@import 'vendor/swiper.min.css';
@import 'ie_fix.css';


@import 'components/common.less';
@import 'components/header.less';
@import 'components/search_box.less';
@import 'components/actions_block.less';
@import 'components/tiles_block.less';
@import 'components/about_block.less';
@import 'components/brands_block.less';
@import 'components/pagename_block.less';
@import 'components/page_content_block.less';
@import 'components/service_select_block.less';
@import 'components/all_services_block.less';
@import 'components/contacts_block.less';
@import 'components/home_service_block.less';
@import 'components/salon_select_block.less';
@import 'components/publications_block.less';
@import 'components/map_block.less';
@import 'components/footer_tile.less';
@import 'components/bg_block-first.less';
@import 'components/musha_gallery.less';
@import 'components/shop_items.less';
@import 'components/pagination.less';
@import 'components/footer.less';




.xdebug-var-dump{
	position: fixed;
	padding: 100px;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: #ffffff;
	z-index: 500;
	overflow: scroll;
}




.body-scroll-off{
	height: 100vh;
	overflow: hidden;
}


.hc__right{
    padding: 10px 0px !important;
}

.hc__footer{
	display: none;
}


.publication-info{
	ul{
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-left: 0;
		margin: 0;
		li{
			&+li{
				margin-top: 10px;
			}
			.fa{
				margin-right: 5px;		
			}			
		}
	}
	.publication-views{

	}
	.publication-comments{

	}
}

.publication-pic{
	opacity: 0;
	object-fit: cover;
	object-position: center;
}

.publication-pic-fallback{
	background-size: cover;
	background-position: center;
}

@supports( object-fit: cover ){
	.publication-pic{
		opacity: 1;
	}
	.publication-pic-fallback{
		display: none;
	}
}


.publication-wrapper{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	flex-grow: 1;
	width: 100%; /*ie11*/
	.publication-container{
		width: 60%;
	}	
	.publication-desc{
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		margin-right: -20px;
		padding-right: 20px;
	}	
	.publication-desc-wrapper{
		overflow: hidden;
		height: ~'calc(100% - 60px)';
	}	
	.publication-sidebar-wrapper{
		position: relative;
		width: 40%;
		.publication-info{
			max-height: 50px;
		}
	}
	.publication-sidebar{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-left: 20px; 
		padding-right: 20px;
		overflow: hidden; 
		.publication-info{
			border-bottom: 1px solid;
			border-color: @gray_ec;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-bottom: 10px;
			font-size: 14px;			
			ul{
				flex-direction: row;
				justify-content: flex-start;
				li{
					margin-bottom: 0;
					margin-right: 20px;
				}				
			}
		}
	}
}


@media (max-width: 1024px){
	.publication-wrapper{
		flex-direction: column;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		.publication-container{
			width: 100%;
		}
		.publication-content{
			max-width: 640px;
			margin-left: auto;
			margin-right: auto;
		}
		.publication-sidebar-wrapper{
			width: 100%;
			max-width: 600+40px;
			margin-left: auto;
			margin-right: auto;			
		}	
		.publication-sidebar{
			position: relative;			
		}
	}
	.musha-modal{
		.modal-wrapper{
			height: 100vh;
			max-height: 90vh;
			width: auto !important;
			.publication-wrapper{
				height: 100%;
			}
			.publication-container{
				height: 60%;
			}	
			.publication-content{
				height: 100%;
				overflow: hidden;
			}
			.publication-sidebar-wrapper{
				height: 40%;
			}
			.publication-video,
			.publication-pic{
				position: relative;
			}	
			.publication-thumbnail{
				position: absolute !important;
			}			
		}
	}
}

.publication-title{
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: bold;
}

.publication-caption{
	margin-bottom: 10px;
}

.publication-container{
	line-height: 1.2;
	position: relative;
}


.publication-content{
	position: relative;
	z-index: 1;
	color: @white;
	&:after{
		content:'';
		display: block;
		padding-top: 100%;
	}
	&.video-running{
		.publication-controls{
			opacity: 0;
		}
		&:hover{
			.publication-controls{
				opacity: 1;
			}			
		}
	}
	.publication-info,
	.publication-video,
	.publication-pic,
	.publication-controls,
	.publication-icon,
	.publication-pic-fallback{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}	
	.publication-video{
	
	}
	.publication-pic{
		
	}
	.publication-pic-fallback{

	}
	.publication-thumbnail{	
		z-index: 1;
	}	
	.publication-controls{	
		z-index: 2;
		display: none;
		align-items: center;
		justify-content: center;
		height: 90%;
		padding-top: 10%;			
		.fa{
			font-size: 80px;
			cursor: pointer;
		}
	}	
	.publication-info{
		z-index: 2;
		display: none;
		align-items: center;
		justify-content: center;
		background-color: fade(@black,35%);
	}	
	.publication-icon{
		z-index: 3;
		height: 20%;
		font-size: 26px;
		padding: 16px 20px;
		text-align: right;
	}
}

.publication-standalone{
	.publication-icon{
		display: none;
	}
	.publication-controls{
		display: flex;
	}	
}

.publications_block{
	&>.wrapper{
		max-width: 2205px;
		padding: 10px 15px 80px; 
	}
}

.publications-slider{
	.swiper-wrapper{
		animation-timing-function: linear;
	}	
	.swiper-slide{
		width: 295px;
		height: 295px;
		margin: 10px;
		.publication-content{
			&:hover{
				.publication-info{
					display: flex;
				}		
			}					
		}
	}
}


.musha-publications{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	.publication-container{
		width: 295px;
		height: 295px;
		margin: 10px;		
	}
	.publication-content{
		&:hover{
			.publication-info{
				display: flex;
			}		
		}					
	}	
}

.musha-publications-header{
	padding: 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;
	.publication-header-count{
		span{
			font-weight: bold;
		}
	}
	.publication-container{
		width: 295px;
		height: 295px;		
		margin: 0;
		margin-right: 10px;
		border-radius: 50%;
		overflow: hidden;
	}
	.publication-content{
		&:hover{
			.publication-info{
				display: flex;
			}		
		}					
	}		
}


.musha-modal{
	display: none;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	.modal-bg{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: fade(@black, 55%); 
		padding: 10px;
		padding-right: 30px;
	}
	.modal-close{
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		color: @pink;
		font-size: 25px;
		cursor: pointer;
	}
	.modal-btn{
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		color: @pink;
		font-size: 48px;
		cursor: pointer;
		&.modal-next{
			justify-content: flex-end;
		}
		&.modal-prev{
			justify-content: flex-start;
		}
	}
	.modal-wrapper{
		position: relative;
		width: 100%;
		max-width: 1020px;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: center;
	}
	.publication-wrapper{
		background-color: @white;
	}
}